/651320710-การบ้าน.docx
/age.csv
/app.py
/button.py
/combo.py
/dbconnect
/delivery.py
/destroy.py
/emp.csv
/entrynum.py
/form.py
/game.py
/graph.csv
/grid.py
/input.py
/label.py
/massagebox.py
/menu.py
/note.py
/OPEN-CV
/pc.py
/place.py
/pp.py
/python-logo.png
/radio.py
/snake.py
/str1.py
/str2.py
/str3.py
/str4.py
/str5.py
/templates
/test_pytohn.py
/whileloop.py
/window.py